version: '2.1'
services:
  dovecot-mailcow:
    build: ./data/Dockerfiles/dovecot
  php-fpm-mailcow:
    build: ./data/Dockerfiles/phpfpm
  mailman:
    build: data/Dockerfiles/mailman
    environment:
      - MAILMAN_URLHOST
      - MAILMAN_EMAILHOST
      - MAILMAN_ADMINMAIL
      - MAILMAN_ADMINPASS
    expose:
      - 25
      - 80
    volumes:
      - mailman-archives:/var/lib/mailman/archives
      - mailman-lib:/var/lib/mailman
      - mailman-postfix:/var/spool/postfix
    dns:
      - ${IPV4_NETWORK:-172.22.1}.254
    hostname: mailman
    networks:
      mailcow-network:
        aliases:
          - mailman
  logz:
    image: "logzio/docker-collector-logs:latest"
    container_name: logz
    environment:
      - "LOGZIO_TOKEN=${LOGZIO_TOKEN}"
      - "LOGZIO_REGION=eu"
      - "HOSTNAME=perry"
      - "skipContainerName=backup,dockerapi,olefy,logz,metrics,nginx,redis,sogo,solr,watchdog"
      - "excludeLines=CRON,forwardinghosts,wp-login"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers
    networks:
      mailcow-network:
        aliases:
          - logz
  metrics:
    image: "logzio/docker-collector-metrics:latest"
    container_name: metrics
    environment:
      - "LOGZIO_TOKEN=${LOGZIO_METRICS_TOKEN}"
      - "LOGZIO_REGION=eu"
      - "LOGZIO_MODULES=system,docker"
      - "HOSTNAME=perry"
      - "DOCKER_SKIP_CONTAINER_NAME=backup,dockerapi,olefy,logz,metrics,sogo,watchdog"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      mailcow-network:
        aliases:
          - metrics
  dmarc:
    build: ./data/Dockerfiles/dmarc
    #image: "gutmensch/dmarc-report:latest"
    hostname: dmarc
    depends_on:
      - mysql-mailcow
    environment:
      - "REPORT_DB_HOST=mysql-mailcow"
      - "REPORT_DB_NAME=dmarc"
      - "REPORT_DB_USER=${DBUSER}"
      - "REPORT_DB_PASS=${DBPASS}"
      - "REPORT_DB_PORT=3306"
      - "PARSER_IMAP_SERVER=dovecot-mailcow"
      - "PARSER_IMAP_PORT=143"
      - "PARSER_IMAP_USER=dmarc@ptakopy.sk"
      - "PARSER_IMAP_PASS=eadishea53"
      - "PARSER_IMAP_READ_FOLDER=INBOX"
      - "PARSER_IMAP_MOVE_FOLDER=Processed"
      - "PARSER_IMAP_MOVE_FOLDER_ERR=Error"
    networks:
      mailcow-network:
        aliases:
          - dmarc
volumes:
  mailman-lib:
  mailman-postfix:
  mailman-archives:
    driver_opts:
      type: none
      device: /mnt/mailcow/mailman-archives
      o: bind
  vmail-vol-1:
    driver_opts:
      type: none
      device: /mnt/mailcow/vmail
      o: bind
